<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
    .item-order { width: 60%;}.img {float: left;width: 20%;height: auto;}.title {overflow: hidden;}.image-order {width: 100%;height: auto;}.center {text-align: center;width: 15%;}.total {text-align: right;}.total-label {margin-right: 40px;}.total-price {margin-right: 18px;}
  </style>
</head>

<body>
  <%= yield %>
</body>
</html>
